QMenu {
    background-color: #212F41;
    border: 2px solid red;
    border-radius: 4px;
}

QMenu::item {
    background-color: transparent;
    color: white;
}

QMenu::item:selected {
    background-color: #0190EA;
}